<html>
<head>
    <link rel="stylesheet" type="text/css" href="demo2.css">
</head>

<body>

    <h1>What do you want to count?</h1>
    <form method="post" action="demo3">
    <h2>Job type</h2>
    {% for item in "faculty non-faculty postdoc".split(" ") %}
          <input type="checkbox" name="jobtype" value="{{item}}"> {{item}}<br>
      {% endfor %}
    <h2>Faculty Status</h2>
        {% for item in faculty_status %}
              <input type="checkbox" name="fac" value="{{item}}"> {{item}}<br>
           {% endfor %}
    <h2>Year</h2>
    {% for item in [2007,2010,2011,2012,2013,2014,2015,2016,2017] %}
          <input type="checkbox" name="year" value="{{item}}"> {{item}}<br>
    {% endfor %}
    <h2>Field of Study</h2>
    {% for item in fields_of_study %}
          <input type="checkbox" name="fos" value="{{item}}"> {{item}}<br>
    {% endfor %}
    <h2>Departments</h2>
    {% for item in departments %}
          <input type="checkbox" name="dept" value="{{item}}"> {{item}}<br>
    {% endfor %}
    <input type="submit">
</form>

<script type="text/javascript">

</script>

</body>
</html>
