<html>
<head>
    <link rel="stylesheet" type="text/css" href="demo2.css">
</head>

<body>

      <h1>What types of job listings are you interested in?</h1>
<h2>Make selections then Generate Query at the end</h2>
      <form method="post" action="demo3">

        <section>
            <article>
                <h2>Job type</h2>
                  <input type="checkbox" name="jobtype" value="faculty"> faculty<br>
                  <input type="checkbox" name="jobtype" value="postdoctoral"> postdoctoral<br>
                  <input type="checkbox" name="staff" value="staff"> non-faculty<br>
            </article>
            <article>
            <h2>Faculty Status</h2>
            <i> only for faculty </i><br>
              {% for item in faculty_status %}
                    <input type="checkbox" name="fac" value="{{item}}"> {{item}}<br>
                 {% endfor %}
          <hr>
          <input type="checkbox" name="diversityandinclusion" value="diversityandinclusion"> Diversity and Inclusion?
          <br>
          <input type="checkbox" name="isresearch1institution" value="isresearch1institution"> For Research 1 Institution?
          <hr>
    </article>
    <article>
          <h2>Career and Education Requirements</h2>
          <input type="text" name="maximumedurequirements" value="21"> Maximum Ed requirements (10-21) <br>
          <input type="text" name="minimumedurequirements" value="0"> Minimum Ed requirements (0-21) <br>
          <input type="text" name="minimumexperiencerequirements" value="0"> Minimum Experience requirements (0-10) <br>
          <hr>
    </article>
    <article>
          <h2>Year</h2>
          {% for item in [2007,2010,2011,2012,2013,2014,2015,2016,2017] %}
                <input type="checkbox" name="year" value="{{item}}"> {{item}}<br>
          {% endfor %}
    </article>
    <article>
          <h2>Field of Study</h2>
          {% for item in fields_of_study %}
                <input type="checkbox" name="fos" value="{{item}}"> {{item}}<br>
          {% endfor %}
    </article>
    <article>
          <h2>Detailed Field of Study</h2>
          {% for item in departments %}
                <input type="checkbox" name="dept" value="{{item}}"> {{item}}<br>
          {% endfor %}
    </article>
    <article>
          <h2>Career Areas</h2>
          {% for item in careerareas %}
                <input type="checkbox" name="careerarea" value="{{item}}"> {{item}}<br>
            {% endfor %}
      </article>

      <article>
            <h2>IPEDS Sector</h2>
            {% for item in ipedssectornames %}
                  <input type="checkbox" name="ipedssectornames" value="{{item}}"> {{item}}<br>
              {% endfor%}
        </article>

        <article>
             <h2>Occupations</h2>
             {% for item in occupations %}
                    <input type="checkbox" name="occupations" value="{{item[0]}}"> {{item[0]}} ({{item[1]}})<br>
                {% endfor%}
          </article>

</section>

         <button><h1>Generate Query</h1></button>
      </form>

<script type="text/javascript">

</script>

</body>
</html>
