<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  form{
    margin-left: 20px;
    margin-top: 20px;
  }
  div{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top:20px;
  }
  #row {
    margin-left: 20px;
  }
  #h6 {
    font-size: 15;
  }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4">Grown nonfaculty career areas</h1>
  </div>
    <div id="container" style="width: 90%;">
      <canvas id="canvas_3"></canvas>
      <canvas id="canvas_1"></canvas>
      <canvas id="canvas_2"></canvas>
    </div>


<script type = "text/javascript">

      var horizontalBarChartData_1 = {
        labels: {{public_final_list[0]|safe}},
        datasets: [
        {
          label: {{requestedYears[0]}},
          backgroundColor: 'rgb(255, 255, 132)',
          borderColor: 'rgb(255, 255, 132)',
          borderWidth: 1,
          data: {{public_final_list[1]}}
        },
        {
          label: {{requestedYears[1]}},
          backgroundColor: 'rgb(255, 100, 132)',
          borderColor: 'rgb(255, 100, 132)',
          data: {{public_final_list[2]}}
        }]
      };
      var horizontalBarChartData_2 = {
        labels: {{private_final_list[0]|safe}},
        datasets: [
        {
          label: {{requestedYears[0]}},
          backgroundColor: 'rgb(255, 255, 132)',
          borderColor: 'rgb(255, 255, 132)',
          borderWidth: 1,
          data: {{private_final_list[1]}}
        },
        {
          label: {{requestedYears[1]}},
          backgroundColor: 'rgb(255, 100, 132)',
          borderColor: 'rgb(255, 100, 132)',
          data: {{private_final_list[2]}}
        }]
      };
      var horizontalBarChartData_3 = {
        labels: {{total_final_list[0]|safe}},
        datasets: [
        {
          label: {{requestedYears[0]}},
          backgroundColor: 'rgb(255, 255, 132)',
          borderColor: 'rgb(255, 255, 132)',
          borderWidth: 1,
          data: {{total_final_list[1]}}
        },
        {
          label: {{requestedYears[1]}},
          backgroundColor: 'rgb(255, 100, 132)',
          borderColor: 'rgb(255, 100, 132)',
          data: {{total_final_list[2]}}
        }]
      };
      window.onload = function() {
        var ctz = document.getElementById('canvas_3').getContext('2d');
        window.myHorizontalBar = new Chart(ctz, {
          type: 'horizontalBar',
          data: horizontalBarChartData_3,
          options: {
            elements: {
              rectangle: {
                borderWidth: 2,
              }
            },
            responsive: true,
            legend: {
              position: 'right',
            },
            title: {
              display: true,
              text: 'Nonfaculty Growth By Career Area: {{requestedInstitution}} Institutions'
            }
          }
      });
        var ctx = document.getElementById('canvas_1').getContext('2d');
        window.myHorizontalBar = new Chart(ctx, {
          type: 'horizontalBar',
          data: horizontalBarChartData_1,
          options: {
            elements: {
              rectangle: {
                borderWidth: 2,
              }
            },
            responsive: true,
            legend: {
              position: 'right',
            },
            title: {
              display: true,
              text: 'Nonfaculty Growth By Career Area: Public {{requestedInstitution}} Institutions'
            }
          }
      });
        var cty = document.getElementById('canvas_2').getContext('2d');
        window.myHorizontalBar = new Chart(cty, {
          type: 'horizontalBar',
          data: horizontalBarChartData_2,
          options: {
            elements: {
              rectangle: {
                borderWidth: 2,
              }
            },
            responsive: true,
            legend: {
              position: 'right',
            },
            title: {
              display: true,
              text: 'Nonfaculty Growth By Career Area: Private {{requestedInstitution}} Institutions'
            }
          }
      })
    };
</script>

<div class = "row">
  <div class = "col-sm-10">
  <h6> Top Ten Grown Nonfaculty By Career Area ({{requestedInstitution}}) in {{requestedYears[0]}} - {{requestedYears[1]}}</h6>
  <table class="table table-bordered" style="font-size: 13px;">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Career Area</th>
        <th scope="col">Total Growth</th>
        <th scope="col">Public Growth</th>
        <th scope="col">Private Growth</th>
      </tr>
    </thead>
    <tbody>
      {% set cnt = [0] %}
        {% for item in top_ten_list %}
          {% if cnt.append(cnt.pop() + 1) %} {% endif %}
          <tr>
            <th scope="row">{{cnt[0]}}</th>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}%</td>
            <td>{{item[2]}}%</td>
            <td>{{item[3]}}%</td>
          </tr>
      {% endfor%}
    </tbody>
  </table>
  * Data includes both Heath Care including Nursing Non-Faculty postings and Health Sciences Faculty postings
</div>


</body>
</html>
