<!doctype html>
<html>

<head>
	<title>NSF Growth Chart</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div id="container" style="width: 75%;">
		<canvas id="canvas"></canvas>
	</div>

	<script>
		var horizontalBarChartData = {
			// labels: ["sociology", "anthropology","literature", "history"],
			labels: {{requestedDepartments|safe}},
			datasets: [
			{
				label: {{requestedYears[0]}},
				backgroundColor: 'rgb(255, 255, 132)',
				borderColor: 'rgb(255, 255, 132)',
				borderWidth: 1,
				data: {{finalFieldDict[0][1]}}
				// [(2007, [[2443], [3335]]), (2017, [[5089], [8843]])]
			},
			{
				label: {{requestedYears[1]}},
				backgroundColor: 'rgb(255, 100, 132)',
				borderColor: 'rgb(255, 100, 132)',
				data: {{finalFieldDict[1][1]}}
			}]
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myHorizontalBar = new Chart(ctx, {
				type: 'horizontalBar',
				data: horizontalBarChartData,
				options: {
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					legend: {
						position: 'right',
					},
					title: {
						display: true,
						text: 'NSF Growth Chart'
					}
				}
			});
		};

	</script>
	<form method="post" action="/nsfGrowth">
			<section>
				<article>
			<h2>Fields of Study</h2>
			<fieldset id ="all_fields">
			<ul id = 'fields'>
				<li class = "lifeSciences"><input type="checkbox" name="fields_of_study" value="Life sciences"> Life sciences
				<ul class = "sub-lifeSciences">
				{% for item in lifeSciences %}
							<li><a>{{item}}</a><br></li>
				{% endfor %}
				</ul>
				</li>
			</ul>
			<ul id = 'fields'>
				<li class = "physicalSciences"><input type="checkbox" name="fields_of_study" value="Physical sciences and earth sciences"> Physical sciences and earth sciences
				<ul class = "sub-physicalSciences">
				{% for item in physicalSciences %}
							<li><a>{{item}}</a><br></li>
				{% endfor %}
				</ul>
				</li>
			</ul>
			<ul id = 'fields'>
				<li class = "math"><input type="checkbox" name="fields_of_study" value="Mathematics and computer sciences"> Mathematics and computer sciences
				<ul class = "sub-math">
				{% for item in math %}
							<li><a>{{item}}</a><br></li>
				{% endfor %}
				</ul>
				</li>
			</ul>
			<ul id = 'fields'>
				<li class = "psychology"><input type="checkbox" name="fields_of_study" value="Psychology and social sciences"> Psychology and social sciences
				<ul class = "sub-psychology">
				{% for item in psychology %}
							<li><a>{{item}}</a><br></li>
				{% endfor %}
				</ul>
				</li>
			</ul>
			<ul id = 'fields'>
				<li class = "engineering"><input type="checkbox" name="fields_of_study" value="Engineering"> Engineering
				<ul class = "sub-engineering">
				{% for item in engineering %}
							<li><a>{{item}}</a><br></li>
				{% endfor %}
				</ul>
				</li>
			</ul>
			<ul id = 'fields'>
				<li class = "education"><input type="checkbox" name="fields_of_study" value="Education"> Education
				<ul class = "sub-education">
				{% for item in education %}
							<li><a>{{item}}</a><br></li>
				{% endfor %}
				</ul>
				</li>
			</ul>
			<ul id = 'fields'>
				<li class = "humanities"><input type="checkbox" name="fields_of_study" value="Humanities and arts"> Humanities and arts
				<ul class = "sub-humanities">
				{% for item in humanities %}
							<li><a>{{item}}</a><br></li>
				{% endfor %}
				</ul>
				</li>
			</ul>
			<ul id = 'fields'>
				<li class = "others"><input type="checkbox" name="fields_of_study" value="Others"> Others
				<ul class = "sub-others">
				{% for item in others %}
							<li><a>{{item}}</a><br></li>
				{% endfor %}
				</ul>
				</li>
			</ul>
		</fieldset>
		<a rel = "all_fields" href = "#select_all"> Select All</a>
		</article>
	</section>


		<section>
			<article>
			<h2>Years</h2>
			{% for item in years %}
						<input type="checkbox" name="years" value="{{item}}"> {{item}}<br>
			{% endfor%}
			</article>
		</section>

		<button><h1>Generate Query</h1></button>
	</form>
</body>

</html>
