<!DOCTYPE html>
<html>


  <head>
    	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
  </head>
  <body>
    <div id="container" style="width: 75%;">
      <canvas id="canvas"></canvas>
    </div>

    <script>
        var data = {

          labels: [{{requestedScience|safe}}, " "],
          datasets: [{
            label: ['{{requestedYears[0]}}(left) ,', '{{requestedYears[1]}}(right)'],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderWidth: 1,
            data: [{{science_opening_result[0][0][0]}}, {{science_opening_result[0][0][1]}}],
            xAxisID: "bar-x-axis1",
            yAxisId: "A"
          },
          {
            label: "Tenure_line Share",
            backgroundColor: 'rgb(255, 255, 86)',
            borderWidth: 1,
            data: [{{science_opening_result[0][1][0]}}, {{science_opening_result[0][1][1]}}],
            xAxisID: "bar-x-axis2",
            yAxisID: "B"
          }, {
            label: "Contingent Share",
            backgroundColor: 'rgb(255, 255, 200)',
            borderWidth: 1,
            data: [{{science_opening_result[0][2][0]}}, {{science_opening_result[0][2][1]}}],
            xAxisID: "bar-x-axis2",
            yAxisID: "B"
          }]
        };

        var options = {
        scales: {
          xAxes: [{
            stacked: true,
            id: "bar-x-axis1",
            barThickness: 90,
          }, {
            display: false,
            stacked: false,
            id: "bar-x-axis2",
            barThickness: 30,
            // these are needed because the bar controller defaults set only the first x axis properties
            type: 'category',
            categoryPercentage: 0.5,
            barPercentage: 0.5,
            // gridLines: {
            //   offsetGridLines: true
            // },
            offset: true
          }],
          yAxes: [{
            id: 'A',
            type:'linear',
            position: 'left'
          }, {
            id: 'B',
            type: 'linear',
            position: 'right',
            stacked: false,
            ticks: {
               beginAtZero: true,
               min: 0,
               max: 100,// Your absolute max value
               callback: function (value) {
                 return value  + '%'; // convert it to percentage
               },
             },
             scaleLabel: {
               display: true,
               labelString: 'Percentage',
             }
            }]
        }
      };

      var ctx = document.getElementById("canvas").getContext("2d");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });

  </script>
    <form method = "post" action = "/science">
      <section>
        <article>
      <h2>Science Departments</h2>
      {% for item in all_sciences %}
            <input type="checkbox" name="sciences" value="{{item}}"> {{item}}<br>
      {% endfor%}
    </article>
    </section>

    <section>
      <article>
      <h2>Years</h2>
      {% for item in year_range %}
            <input type="checkbox" name="years" value="{{item}}"> {{item}}<br>
      {% endfor%}
      </article>
    </section>
    <button><h1>Generate Query</h1></button>
    </form>

    </html>
  </body>
</html>
