<html>
<head>
    <link rel="stylesheet" type="text/css" href="demo2.css">
    <meta charset="utf-8">
<style> /* set the CSS */

body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

</style>
</head>

<body>

    <h1>Testing DB queries </h1>
<ol>
{% for r in result %}
<li>{{r}}
<ul> {% for k in r %}
  <li> {{k}}</li>
{% endfor %}
</ul>
</li>
{% endfor %}
</ol>
</body>
</html>
